<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-2.5.xsd">
    
    <import resource="applicationContext.xml"/>
    
    <!-- Enable @Autowired, @Resource... -->
    <context:annotation-config />
    
    <!-- Enable @Controller, @RequestMapping -->
	<context:component-scan base-package="imaing.expsys"></context:component-scan>
	
	<bean id="annotationMapper" class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />

    <!-- Maps the request through to a concrete controller instance -->
    <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
              <prop key="*/customer.rpc">rpcCustomerController</prop>
            </props>
        </property>
    </bean>

    <!-- GwtRpcController wraps our service in order to decode the incoming -->
    <!-- request then delegates processing of the call to the POJO service -->
    <!-- and then encodes the return value forwarding the response. -->
    
    <bean id="rpcCustomerController" class="com.sportivo1.server.controllers.GwtRpcController">
        <property name="remoteService" ref="customerService" />
    </bean>
    
</beans>